<% layout('layout'); -%>
<div id="messages">
</div>

<form autocomplete="off">
  <input id="new-message-body" name="message" type="text" />
  <button>Send</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/chat.js"></script>
